<div id="dashboard-container">
  <%= render "sidebar" %>
  <main id="dashboard-content">
    <%= render "map_markers" %>
    <div id="transaction-history">
      <h1>Order History Here</h1>
    </div>
  </main>
</div>