#dashboard-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#sidebar {
  height: 100%;
  border-right: 2px solid black;
  width: calc(15vw - 2px);
}
#dashboard-content {
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  #myMap {
    border: 2px solid black;
    width: 80vw;
    height: 58vh;
  }
  #transaction-history {
    width: 80vw;
    height: 38vh;
    border: 2px solid black;

    #recent-title {
      height: 15%;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: baseline;
    }
  }
}

#recent-transactions-container {
  display: flex;
  width: 100%;
  height: 85%;

  div {
    width: 50%;
    border-top: 1px solid black;
    padding: 0.5em;
  }

  div:first-child {
    border-right: 1px solid black;
  }
}

#recent-inventory,
#recent-deployment {
  display: flex;
  flex-direction: column;

  header,
  main {
    display: flex;
    justify-content: space-between;
  }

  main {
    align-items: center;

    span {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    .recent-deployment-datetime {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
