<h1>LIST OF ALL CATEGORIES</h1>

<% @categories.each do |category| %>
  <div class="category-box">
  <%= link_to category do %>  
    <h3>NAME: <%= category.name %></h3>
    <h3>DESCRIPTION: <%= category.description %></h3>
  <% end %>
  </div>
<% end %>